/* Responsive ukuran mobile & smart phone 0-1440 px */
@media (min-width: 1281px) and (max-width: 1440px) {

    /* navbar,button */
    nav ul {
        display: flex;
        position: absolute;
        right: 1%;
        width: 50%;
    }

    .main-logo {
        display: flex;
        position: absolute;
        top: 0.5%;
        left: 0.5%;
        width: 10%;
        height: 10%;
        align-items: center;
    }

    .h1-logo {
        display: flex;
        position: absolute;
        align-items: center;
        height: 5%;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.4em;
        left: 11%;
        top: 3%;
    }

    .sticky {
        position: fixed;
        top: 1;
    }

    /* Parallax Intro */

    .p-parallax-intro {
        font-size: 1.4em;
    }

    /* Parallax Body 1  */
    .card {
        height: 350px;
    }

    .card .bottom-text {
        height: 27vh;
    }

    /* Parallax Body 2 */

    .body2-container {
        width: 440px;
    }

    .body2-content1,
    .body2-content2 {
        margin-top: 28%;
    }

    .body2-h5 {
        font-size: 1em;
    }

    .content-icon1,
    .content-icon2,
    .content-icon3 {
        width: 35px;
        height: 35px;
        left: 0.8%;
    }

    .content-icon4,
    .content-icon5,
    .content-icon6 {
        width: 35px;
        height: 35px;
        right: 0.8%;
    }


    .content-icon1 {
        top: 1.5%;
    }

    .content-icon2 {
        top: 38%;
    }

    .content-icon3 {
        top: 75%;
    }

    .content-icon4 {
        top: 1.5%;
    }

    .content-icon5 {
        top: 37%;
    }

    .content-icon6 {
        top: 75%;
    }

    /* Aside */

    .aside-h2 {
        font-size: 1.4em;
    }

    .aside-content1 {
        font-size: 1em;
        margin-top: 6.5%;
        line-height: 1em;
        text-indent: 1em;
    }

    /* Parallax Footer */

    .card-footer {
        height: 320px;
        margin-top: 10%;
    }

    .card-footer .bottom-text-footer {
        height: 27vh;
    }

    .container-footer {
        margin-bottom: 9%;
    }

    /* Testimonial */

    .container-testimonial {
        margin-top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    .h3-testimonial {
        font-size: 3em;
        text-align: center;
    }

    .slider {
        height: 75vh;
    }

    /* Footer */

    .footer-container {
        height: 37vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}